{% extends "layout.html" %}

{% block body %}

<div class="playlist-form">
    <p>We scanned all of your playlists and decided these were the top 30 danceable songs</p>
    <h1>Click 'Create Playlist' with your playlist name to turn this into your own Spotify Playlist!</h1>

    <form action="/create-dance-playlist" method="post">
        <label for="playlist_name">Playlist Name:</label>
        <input type="text" id="playlist_name" name="playlist_name" required>
        <button type="submit">Create Playlist</button>
    </form>
</div>
{% if dance_song_data %}
<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Song</th>
            <th scope="col">Album</th>
            <th scope="col">Artist</th>
            <th scope="col">Playlist</th>
            <th scope="col">Dance Score</th>
        </tr>
        </thead>
        <tbody>
        {% for song in dance_song_data %}
        <tr>
            <th scope="row">{{ loop.index }}</th>
            <td>{{ song['track_name'] }}</td>
            <td>{{ song['album'] }}</td>
            <td>{{ song['artist'] }}</td>
            <td>{{ song['plist_name'] }}</td>
            <td>{{ song['danceability'] }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
<h1> Couldn't retrieve your songs :(</h1>
{% endif %}

{% endblock %}