/* MAIN CONTENT STYLES */
body {
    background-color: #57a868; /* Pastel Green for watermelon skin */
    color: #FFB6C1; /* Light pink for watermelon meat */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Full viewport height */
    /* text-shadow: 0px 0px 1px black, 0px 0px 2px black; /* Text shadow to create a black outline */
}

.top-menu {
    top: 0;
    margin-bottom: 5%;
    padding: 8px;
    height: 5%;
}

.home-button {
    padding: 8px 15px; /* Padding inside the button */
    text-decoration: none; /* Remove underline from link */
    border-radius: 0px; /* Rounded corners */
    border: none; /* No border */
}

.home-button:hover {
    background-color: #FFB6C1;
    color: #57a868;;
}

a {
    text-decoration: none; /* Removes underline */
    color: inherit; /* Inherits the color from the parent element */
}

.error {
    color: #FF0000; /* Red for errors */
}

#welcome-message {
    margin-top: 0;     /* Align to the top of the viewport */
    padding-top: 0;
    width: 100%;       /* Make it full width */
    text-align: center; /* Center the text */
    padding: 10px 0;   /* Add some padding */
}

.container {
    width: 75%;
    text-align: center;
}

.playlist-form {
    margin: 5%;
    padding-bottom: 5%;
    text-align: center;
}

.playlist-form form {
    margin-top: 5%;
}

.table-container {
    width: 75%;
    margin: auto;
}

footer {
    padding: 20px 0;
    margin-top: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    padding: 0;
}

ul.social-links li a img{
    width: 64px;
    height: auto;
}