{% extends "layout.html" %}

{% block body %}
    <h1>According to Spotify, your top artist is {{ game_data['artist'] }}</h1>
    <p> Are they spot-on? Or would you drop them from your close-friends list on IG?</p>
    <h1>Their top song is <i>{{ game_data['song'] }}</i></h1>
    <div id="game-section">
        <h1>Do you know which album your top artist's top song belongs to?</h1>
        <form action="/user-guess" method="POST">
        {% for guess in game_data['choices'] %}
            <button type="submit" name="guess" value="{{ guess }}">{{ guess }}</button>
        {% endfor %}
        </form>
    </div>
{% endblock %}