{% extends "layout.html" %}

{% block body %}
<div id="loading-message" style="text-align: center;">
    <h1>Loading your dance songs, please wait...</h1>
    <p>The more playlists you have, the longer this will take.</p>
    <p id="playlist-data-message" style="display: none;"></p>
    <p>We don't make the rules, we just enforce them.</p>
    <p>You know, we used to live in a world where delayed gratification was the norm.</p>
</div>
<div class="data-container" style="display: none;">
    <div class="playlist-form">
        <p>We scanned all of your playlists and decided these were the top 30 danceable songs</p>
        <h1>Click 'Create Playlist' with your playlist name to turn this into your own Spotify Playlist!</h1>

        <form action="/create-dance-playlist" method="post">
            <label for="playlist_name">Playlist Name:</label>
            <input type="text" id="playlist_name" name="playlist_name" required>
            <button type="submit">Create Playlist</button>
        </form>
    </div>

    <div class="table-container">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Song</th>
                <th scope="col">Album</th>
                <th scope="col">Artist</th>
                <th scope="col">Playlist</th>
                <th scope="col">Dance Score</th>
            </tr>
            </thead>
            <tbody>
            <!-- Should load table body from javascript -->
            </tbody>
        </table>
    </div>
</div>


<!-- JavaScript Gather Data Script -->
<script src="{{ url_for('static', filename='update_dance_songs.js') }}"></script>

{% endblock %}