{% extends "layout.html" %}

{% block body %}
<div class="container">
    <h1>Welcome to Spotify Dance</h1>
    <h2>You must be a music lover</h2>
    <p>That's cool. Good for you.</p><br>
    <h1>What does this website do?</h1>
    <p>It scans every Spotify playlist you have and makes the ultimate dance playlist for you.</p>
    <h1>Sounds cool?</h1>
    <p>We agree.</p>

    <div class="container">
        <h1><a href="{{url_for('login')}}">Click here to login through Spotify</a></h1>
    </div>
</div>
{% endblock %}