{% extends "layout.html" %}

{% block body %}
<div class="container">
    <h1>Welcome to Make Me Dance</h1>
    <br>
    <a href="{{url_for('login')}}"><button type="button" class="btn btn-success">Log in through Spotify</button></a>
    <br>
     <p>Note: You must be approved as a beta tester to log in with Spotify</p>
    <h2>Join our Beta!</h2>

    <form action="/request-beta" method="POST">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required><br><br>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" placeholder="spotify account email"><br><br>
        <input type="submit" value="Request Beta Access">
    </form>
    <br>



</div>
{% endblock %}